passportApp/Service References/PassportValidationService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PassportValidationLib.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PassportValidationLib.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Passport">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfExpiry" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MrzRow2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassportNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Passport" nillable="true" type="tns:Passport" />
</xs:schema>