passportApp/Service References/PassportValidationService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54075/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PassportValidationLib.Model" />
  <xs:import schemaLocation="http://localhost:54075/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PassportValidationLib" />
  <xs:element name="ValidatePassportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PassportValidationLib.Model" minOccurs="0" name="passport" nillable="true" type="q1:Passport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePassportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PassportValidationLib" minOccurs="0" name="ValidatePassportDataResult" nillable="true" type="q2:ValidationResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>