passportApp/Service References/PassportValidationService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PassportValidationLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PassportValidationLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidationResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirthCheckDigit" type="xs:boolean" />
      <xs:element minOccurs="0" name="DateOfBirthCrossCheck" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExpirationDataCrossCheck" type="xs:boolean" />
      <xs:element minOccurs="0" name="FinalCheckDigit" type="xs:boolean" />
      <xs:element minOccurs="0" name="GenderCrossCheck" type="xs:boolean" />
      <xs:element minOccurs="0" name="NationalityCrossCheck" type="xs:boolean" />
      <xs:element minOccurs="0" name="PassportExpirationDateCheckDigit" type="xs:boolean" />
      <xs:element minOccurs="0" name="PassportNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassportNumberCheckDigit" type="xs:boolean" />
      <xs:element minOccurs="0" name="PassportNumberCrossCheck" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonalNumberCheckDigit" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResults" nillable="true" type="tns:ValidationResults" />
</xs:schema>